.i_status_online{
	background:url('../img/buttons/status_online.png') no-repeat center center;
}
.i_user_go{
	background:url('../img/buttons/user_go.png') no-repeat center center;
}
.i_report_user{
	background:url('../img/buttons/report_user.png') no-repeat center center;
}
.i_feed_link{
	background:url('../img/buttons/feed_link.png') no-repeat center center;
}
.i_app_add{
	background:url('../img/buttons/app_add.png') no-repeat center center;
}
.i_app_edit{
	background:url('../img/buttons/app_edit.png') no-repeat center center;
}
.i_app_delete{
	background:url('../img/buttons/app_delete.png') no-repeat center center;
}
.i_app_view{
	background:url('../img/buttons/app_view.png') no-repeat center center;
}
.i_app_magnify{
	background:url('../img/buttons/app_magnify.png') no-repeat center center;
}
.i_app_search{
	background:url('../img/buttons/app_search.png') no-repeat center center;
}
.i_app_redo{
	background:url('../img/buttons/app_redo.png') no-repeat center center;
}
.i_app_refresh{
	background:url('../img/buttons/app_refresh.png') no-repeat center center;
}
.i_app_gold_blue{
	background:url('../img/buttons/app_gold_blue.png') no-repeat center center;
}
.i_app_gold_green{
	background:url('../img/buttons/app_gold_green.png') no-repeat center center;
}
.i_app_gold_red{
	background:url('../img/buttons/app_gold_red.png') no-repeat center center;
}
.i_app_go{
	background:url('../img/buttons/app_go.png') no-repeat center center;
}
.i_app_excel{
	background:url('../img/buttons/app_excel.png') no-repeat center center;
}
.i_app_lightbulb_off{
	background:url('../img/buttons/app_lightbulb_off.png') no-repeat center center;
}
.i_app_lightbulb_on{
	background:url('../img/buttons/app_lightbulb_on.png') no-repeat center center;
}
.i_app_more{
	background:url('../img/buttons/app_more.png') no-repeat center center;
}
.i_app_error{
	background:url('../img/buttons/app_error.png') no-repeat center center;
}
.i_app_check{
	background:url('../img/buttons/app_check.png') no-repeat center center;
}
.i_app_accept{
	background:url('../img/buttons/app_accept.png') no-repeat center center;
}
.i_sub_link{
	background:url('../img/buttons/sub_link.png') no-repeat center center;
}
.
.app_color_swatch{
	background:url('../img/buttons/app_color_swatch.png') no-repeat center center;
}
