.i_help{
	background:url('../image/buttons/help.png') no-repeat center center;
}
.i_door_out{
	background:url('../image/buttons/door_out.png') no-repeat center center;
}
.i_user{
	background:url('../image/buttons/user.png') no-repeat center center;
}
.i_status_online{
	background:url('../image/buttons/status_online.png') no-repeat center center;
}
.i_help{
	background:url('../image/buttons/help.png') no-repeat center center;
}
.i_door_out{
	background:url('../image/buttons/door_out.png') no-repeat center center;
}
.i_user_go{
	background:url('../image/buttons/user_go.png') no-repeat center center;
}
.i_user{
	background:url('../image/buttons/user.png') no-repeat center center;
}
.i_report_user{
	background:url('../image/buttons/report_user.png') no-repeat center center;
}
.i_feed_link{
	background:url('../image/buttons/feed_link.png') no-repeat center center;
}
.i_app_add{
	background:url('../image/buttons/app_add.png') no-repeat center center;
}
.i_app_edit{
	background:url('../image/buttons/app_edit.png') no-repeat center center;
}
.i_app_delete{
	background:url('../image/buttons/app_delete.png') no-repeat center center;
}
.i_app_download{
	background:url('../image/buttons/download.png') no-repeat center center;
}
.i_app_view{
	background:url('../image/buttons/app_view.png') no-repeat center center;
}
.i_app_magnify{
	background:url('../image/buttons/app_magnify.png') no-repeat center center;
}
.i_app_search{
	background:url('../image/buttons/app_search.png') no-repeat center center;
}
.i_app_redo{
	background:url('../image/buttons/app_redo.png') no-repeat center center;
}
.i_app_refresh{
	background:url('../image/buttons/app_refresh.png') no-repeat center center;
}
.i_app_gold_blue{
	background:url('../image/buttons/app_gold_blue.png') no-repeat center center;
}
.i_app_gold_green{
	background:url('../image/buttons/app_gold_green.png') no-repeat center center;
}
.i_app_gold_red{
	background:url('../image/buttons/app_gold_red.png') no-repeat center center;
}
.i_app_go{
	background:url('../image/buttons/app_go.png') no-repeat center center;
}
.i_app_excel{
	background:url('../image/buttons/app_excel.png') no-repeat center center;
}
.i_app_lightbulb_off{
	background:url('../image/buttons/app_lightbulb_off.png') no-repeat center center;
}
.i_app_lightbulb_on{
	background:url('../image/buttons/app_lightbulb_on.png') no-repeat center center;
}
.i_app_more{
	background:url('../image/buttons/app_more.png') no-repeat center center;
}
.i_app_error{
	background:url('../image/buttons/app_error.png') no-repeat center center;
}
.i_app_check{
	background:url('../image/buttons/app_check.png') no-repeat center center;
}
.i_app_accept{
	background:url('../image/buttons/app_accept.png') no-repeat center center;
}
.i_sub_link{
	background:url('../image/buttons/sub_link.png') no-repeat center center;
}
.i_cash{
	background:url('../image/buttons/cash.png') no-repeat center center;
}
.i_company{
	background:url('../image/buttons/company.png') no-repeat center center;
}
.i_new_add{
	background:url('../image/buttons/new_add.png') no-repeat center center;
}
.i_cancel{
	background:url('../image/buttons/cancel.png') no-repeat center center;
}
.i_up{
	background:url('../image/buttons/up.png') no-repeat center center;
}
.i_down{
	background:url('../image/buttons/down.png') no-repeat center center;
}

.icon-set{
	background:url('../image/buttons/set.png') no-repeat center center;
}
.icon-grant{
	background:url('../image/buttons/grant.png') no-repeat center center;
}

.icon-properties{
	background:url('../image/buttons/properties.png') no-repeat center center;
}
.icon-flow{
	background:url('../image/buttons/flow.png') no-repeat center center;
}
.icon-directory{
	background:url('../image/buttons/directory.png') no-repeat center center;
}
.icon-document{
	background:url('../image/buttons/document.png') no-repeat center center;
}
.i_app_color_swatch{
	background:url('../image/buttons/app_color_swatch.png') no-repeat center center;
}
.i_table_save{
	background:url('../image/buttons/table_save.png') no-repeat center center;
}
.i_table_refresh{
	background:url('../image/buttons/table_refresh.png') no-repeat center center;
}
.i_app_green{
	background:url('../image/skin/green.png') no-repeat center center;
}
.i_app_orange{
	background:url('../image/skin/orange.png') no-repeat center center;
}
.i_app_blue{
	background:url('../image/skin/blue.png') no-repeat center center;
}
.i_app_gray{
	background:url('../image/skin/gray.png') no-repeat center center;
}
.i_app_red{
	background:url('../image/skin/red.png') no-repeat center center;
}
.i_contract{
	background:url('../image/buttons/contract.png') no-repeat center center;
}
.i_construction{
	background:url('../image/buttons/construction.png') no-repeat center center;
}
.i_development{
	background:url('../image/buttons/development.png') no-repeat center center;
}
.i_entrust{
	background:url('../image/buttons/entrust.png') no-repeat center center;
}
.i_project{
	background:url('../image/buttons/project.png') no-repeat center center;
}
.i_contract_around{
	background:url('../image/buttons/contract_around.png') no-repeat center center;
}
.i_plan{
	background:url('../image/buttons/plan.png') no-repeat center center;
}
.i_land{
	background:url('../image/buttons/land.png') no-repeat center center;
}
.i_responsible{
	background:url('../image/buttons/responsible.png') no-repeat center center;
}
