<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
 	
 	<listener>
 		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
 	</listener>
 	<!-- contextConfigLocation参数用来指定Spring的配置文件 -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:applicationContext*.xml</param-value>
    </context-param>
 
  <servlet>
  	<servlet-name>springmvc</servlet-name><!-- servlet名称，随意 -->
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class><!-- 该servelt位于webmvc下   这是前端控制器，继承自HttpServlet，负责分发请求到对应的Java类，也就是Handle，就是Controller了-->
	<init-param>
		<param-name>contextConfigLocation</param-name><!-- 固定写法 -->
		<param-value>/WEB-INF/springConfing.xml</param-value><!-- 这是配置文件路径 -->
	</init-param>
 </servlet>
 <servlet-mapping>
 	<servlet-name>springmvc</servlet-name>
 	<url-pattern>*.action</url-pattern> <!-- 表示所有请求都交给DispatcherServlet处理 -->
 </servlet-mapping>
 
 <!-- 编码过滤器 -->
  <filter>
        <filter-name>characterEncodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
 </filter>
    <filter-mapping>
        <filter-name>characterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
      <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>